html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
}

.image-container {
    height: 10%;
    width: 10%;
}

.profile-pic {
    height: 100%;
    width: 100%;
}

strong {
    padding: 20px;
    font-family: sans-serif;
    font-size: smaller;
    font-weight: 500;
    color: gray;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
}

.team-member {
    display: flex;
}

.timezone-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    font-family: sans-serif;
    color: gray;
    font-size: larger;
    font-weight: lighter;
}

.timezone {
    padding: 30px;
    background-color: white;
    margin: 30px;
}

body.ember-application {
    background-color: aliceblue;
}
